* {
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.displayContainer{
    height: 1.5rem;
}

.buttonRow {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.buttonRow button{
    text-align: center;
    width: 1.5rem;
}

.buttonRow button#clear {
    width: 100%;
}